.questions-container {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.question {
  display: flex;
  gap: 32px;
  flex-direction: column;
  padding-left: 44px;
  max-width: 45vw;
  color: var(--stone-700);
}

.question-option {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.question-letter {
  display: flex;
  width: 26px;
  height: 26px;
  flex-shrink: 0;
  border: 1px solid var(--stone-700);
  border-radius: 100%;
  align-items: center;
  justify-content: center;
}
