.quiz-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.quiz-type {
  color: var(--indigo-50);
  background-color: var(--indigo-500);
  padding: 0px 16px;
  border-radius: 100px;
}

.col-quiz-name {
  flex-basis: 33%;
}

.col-data {
  flex-basis: 33%;
}
