.retrieve-password-background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;

  /* background: var(--neutral-100)
    url("../../assets/Gemini_Generated_Image_11nxc611nxc611nx.png") no-repeat
    left bottom fixed;
  background-size: cover; */

  background: var(--neutral-100)
    url("../../assets/background-change-password.png") no-repeat left bottom
    fixed;
  background-size: cover;
}

.retrieve-password-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;

  gap: 2.6rem;
  width: max(35vw);
  height: max(65vh);
  padding-top: 3.5rem;

  background-color: var(--neutral-50);
  border: 1px solid var(--neutral-200);
  border-radius: 1.25rem;
  box-shadow: 5px 7px 10px 0px rgba(0, 0, 0, 0.15);
}

.split-line-big {
  height: 1px;
  width: 78.76%;
  background-color: var(--neutral-300);
}
