.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 18%;
  background-color: var(--indigo-950);
}

.sidebar-top {
  width: 100%;
  height: 18%;
}

.sidebar-bottom {
  width: 100%;
  height: 18%;
}

.polvo-logo {
  margin: 1.5rem;
}

.sidebar-icon {
  margin-left: 2rem;
  width: 1.6rem;
  height: 1.6rem;
}

.sidebar-item {
  display: flex;
  align-items: center;
  gap: 0.8rem;

  width: 100%;
  height: 30%;
}

.sidebar-item:hover {
  cursor: pointer;
  border-left: 3px solid var(--yellow-200);
}

.sidebar-dropdown {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 1vh;
}

.sidebar-submenu {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 8px;
  border-radius: 8px;
  padding: 8px 0;
}

.sidebar-dropdown-icon {
  margin-left: 2rem;
  width: 1.6rem;
  height: 1.6rem;
  transition: transform 0.3s ease;
}

.sidebar-dropdown-icon.rotated {
  transform: rotate(-90deg);
}
